@font-face {
  font-family:'Eurostile';
  src: url('./fonts/Eurostile.ttf');
  font-weight: 100;
}

* {
  font-family: Eurostile, Open Sans, sans-serif;
}

#fondo {
  position:fixed;
  background: url('./img/background_home.jpg') no-repeat center center;
  background-size: cover;
  width:100%;
  height:100%;
  top: 0rem;
  left: 0rem;
  z-index: -2;
}

#empezar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 10%;
  text-align: center;
  padding: 0; 
}

#empezar_dos {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 5%;
  text-align: center;
  padding: 0; 
}


.texto_eleccion {
	font-size: 1em;
	text-align: center;
	color: white;
    text-decoration: none;
    text-shadow: 0.05rem 0.05rem black;
}

.boton_uno {
	padding-top: 5rem;
	background-color:grey;
	border: 0.05rem solid;
    padding: 0.25rem;
    box-shadow: 0.5rem 0.25rem 0.50rem;
    border-radius: 0.10rem 0.50rem 0.10rem 0.50rem;
    width: 15rem;
}

.boton_dos {
	padding-top: 5rem;
	background-color:grey;
	border: 0.05rem solid;
    padding: 0.25rem;
    border-radius: 0.10rem 0.50rem 0.10rem 0.50rem;
    border-radius: 0.25rem;
    width: 15rem;
}

#contenedor{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    display: flex;
    padding-bottom: 2rem;
}

#botones{
	position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    display: flex;
}

.reloj{
	float: left;
	color: #FFF;
}

.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 5.5em;
	height: 2em;
	text-shadow: 0px -1px 1px black;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
	padding: 0em;
}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}

@keyframes uno {	
    0%  {left: 110%;}
    100%    {left: 0%;}
}

#texto_uno, #texto_dos, #texto_tres, #texto_cuatro, #texto_cinco, #texto_seis, #texto_siete, #texto_ocho, #texto_nueve, #texto_diez, #texto_once, #texto_doce, #texto_trece, #texto_catorce {
	display: block;
	text-align: center;
}

.texto {
	margin: 0 auto;
	color: red;
    text-decoration: none;
    text-shadow: 0.05rem 0.05rem black;
}
