@font-face {
  font-family:'Eurostile';
  src: url('./fonts/Eurostile.ttf');
  font-weight: 100;
}

* {
  font-family: Eurostile, Open Sans, sans-serif;
}

#contenedor{
	position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    display: flex;
    padding-bottom: 2rem;
}
#botones{
	position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    display: flex;
}

.reloj{
	float: left;
	color: #363431;
}
.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 5.5em;
	height: 2em;
	text-shadow: 0px -1px 1px black;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
	padding: 0em;
}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}

@keyframes uno {	
    0%  {left: 110%;}
    100%    {left: 0%;}
}

#texto_uno, #texto_dos, #texto_tres, #texto_cuatro, #texto_cinco, #texto_seis, #texto_siete, #texto_ocho, #texto_nueve {
	display: block;
	text-align: center;
}

.texto {
  width: 250px;
  height: 150px;
  margin: 0 auto;
  animation-name: uno;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
